<mat-card class="mainpost">
    <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{this.discussion?.title}}</mat-card-title>
      <mat-card-subtitle>{{this.discussion?.username}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
          {{this.discussion?.description}}
        </p>
      </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="toggleAddComment()">Răspunde</button>
      <span *ngIf="belongs_to_current_user"><button mat-raised-button color="primary" (click)="deleteDiscussion()" style="margin-left:5px">Șterge</button></span>
    </mat-card-actions>
  </mat-card>

<div *ngIf="display" class="comment">
  <app-add-comment (closed)="toggleAddComment()"></app-add-comment>
</div>

<div *ngFor="let comment of this.discussion?.comments">
    <mat-card class="comment">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-subtitle>{{comment.username}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
              {{comment.text}}
            </p>
        </mat-card-content>
        <mat-card-actions>
          <span *ngIf="this.user_id==this.discussion?.user_id"><button mat-raised-button color="primary" (click)="deleteComment(comment.comment_id)" style="margin-left:5px">Șterge</button></span>
        </mat-card-actions>
    </mat-card>
</div>