.mainpost{
    background-color:#b6e6dd;
    margin-left: 3%;
    margin-right:3%;
    margin-top:3%
}
.example-header-image {
    background-image: url('default_avatar.png');
    background-size: cover;
  }

  .comment{
    background-color:#b6e6dd;
    margin-left: 5%;
    margin-right:3%;
    margin-top:1%
}