<html>
  <mat-toolbar color="primary" class="fix">
    <button mat-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Student Forum</span>

    <span style="flex: 1 1 auto;"></span>
    <span flex></span>

    <span *ngIf="authenticated==false">
      <button mat-raised-button style="background-color:teal;color:white;margin-right:5px" (click)="openLoginDialog()">Autentificare</button>
      <button mat-raised-button (click)="openRegisterDialog()">Înregistrare</button>
    </span>

    <span *ngIf="authenticated==true">
      <button mat-raised-button (click)="logout()">Deconectare</button>
    </span>

  </mat-toolbar> 

  <mat-sidenav-container style="width:100%;height:100%">
    <mat-sidenav #sidenav mode="push" [(opened)]="opened"  class="sidenav">

      <a routerLink="home">
        <button mat-raised-button color="primary" class="sidenav-button"><mat-icon>home</mat-icon>Home</button>
      </a>
      <mat-divider></mat-divider>
      <br>
    </mat-sidenav>

    <mat-sidenav-content style="background-color: #B4CFCA;">

      <router-outlet></router-outlet>
      
    </mat-sidenav-content>
  </mat-sidenav-container>

</html>